USE [master]
GO
/****** Object:  Database [macroDB]    Script Date: 2018/8/13 15:30:14 ******/
CREATE DATABASE [macroDB] ON  PRIMARY 
( NAME = N'macroDB', FILENAME = N'd:\DATA\macroDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'macroDB_log', FILENAME = N'd:\DATA\macroDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [macroDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [macroDB]
GO
/****** Object:  Table [dbo].[ProductCheck]    Script Date: 2018/8/13 15:30:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCheck](
	[ID] [uniqueidentifier] NULL,
	[CheckOrder] [int] IDENTITY(1,1) NOT NULL,
	[IP] [nvarchar](50) NULL,
	[PCuser] [nvarchar](255) NULL,
	[ComPort] [nvarchar](50) NULL,
	[ProductBarcode] [nvarchar](255) NULL,
	[ReturnResultStr] [nvarchar](255) NULL,
	[CheckCode] [nvarchar](255) NULL,
	[ResultFlag] [nvarchar](255) NULL,
	[Leakage] [nvarchar](255) NULL,
	[Checksum] [nvarchar](255) NULL,
	[AutoCheckResult] [bit] NULL,
	[AutoCheckDate] [datetime] NULL,
	[UserCheckResult] [bit] NULL,
	[UserDate] [datetime] NULL,
	[UpFlag] [bit] NULL,
	[Second] [int] NULL
) ON [PRIMARY]

GO
USE [master]
GO
